[Unit]
Description=Mail Check Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python /var/home/anjing/Desktop/mailcheck/mailcheck.py
Restart=on-failure

[Install]
WantedBy=default.target
