[Desktop Entry]
Name=Telegram
Exec=chromium-browser --app=https://web.telegram.org/k --user-data-dir=/var/home/anjing/.config/chromium/TelegramWebK --class=TelegramWebK
Terminal=false
Type=Application
Icon=TelegramWebK
StartupWMClass=TelegramWebK
Categories=Community;
Actions=Alt

[Desktop Action Alt]
Name=Switch Account
Exec=chromium-browser --app=https://web.telegram.org/k --user-data-dir=/var/home/anjing/.config/chromium/TelegramWebKAlt --class=TelegramWebK

